# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Python ###
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
docs/_build/
target/

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
.env
db.sqlite3

# Ignore media files
media/*
!media/.keep  # Keep folder structure if necessary

# Ignore uploaded files
uploads/

# Ignore migrations except __init__.py
learning_system/migrations/*.py
!learning_system/migrations/__init__.py
